/DatastoreDB.class
/DumpDatastoreServlet.class
/GuestbookServlet.class
/IDB.class
/LingrBotServlet.class
/Links.class
/Misawa.class
/Omikuji.class
/Osaka.class
/ReplyGenerator.class
/Test.class
/Utils.class
